<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flavienlaurent.muzei.hash" >

    <!-- Required by RemoteMuzeiArtSource -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name=".HashArtSource"
            android:description="@string/source_description"
            android:icon="@drawable/ic_source"
            android:label="@string/source_name" >
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>

            <meta-data
                android:name="settingsActivity"
                android:value=".SettingsActivity" />
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.Hash.Settings"
            android:exported="true">
        </activity>
    </application>

</manifest>
